{% extends 'main_page.html' %}
{% load my_filter %}
{% block title %}
    <title>CRM Note Details</title>
{% endblock title %}
{% block content %}
<h3>{{ note.title|no_swear_words }}</h3>
<p>{{ note.content|no_swear_words  }}</p>
{% if perms.notes.view_note %}
    <a href={% url 'note_update' note.id %} class='btn btn-secondary'>Редактировать</a>
    <a href={% url 'note_update' note.id %} class='btn btn-secondary'>Ответить</a>
    {% endif %}
    <br><br>
{% for comment in comments %}
    <p>{{ comment.current_note.content }} <button>редактировать</button><button>ответить</button></p>
{% endfor %}
{% endblock content %}
