{% extends 'main_page.html' %}
{% load my_filter %}
{% block title %}
    <title>CRM Subscription</title>
{% endblock title %}
{% block content %}
<h1>Subscription</h3>
    {% for note in notes %}

        {{ note }}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="topic_id" value="{{ note.id }}" />
            {% if note.user_subscribed %}
                <button disabled>Подписаться</button>
                <button name='action' value='unsubscribe'>Отписаться</button>
            {% else %}
                <button name='action' value='subscribe'>Подписаться</button>
                <button disabled>Отписаться</button>
            {% endif %}
        </form>
    {% endfor %}
{% endblock content %}